@use 'styles/variables';

.app {
  overflow: hidden;
  min-width: variables.$app-width;
  border-radius: variables.$border-radius;
  background: variables.$app-bg;

  .btn-group {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}