@use 'styles/variables';

.button-active {
  border: 1px solid rgb(255,255,255) !important;
}

.button {
  border: none;
  border-radius: calc(variables.$border-radius / 2);
  background: none;

  &:hover {
    background: rgba(0,0,255, 0.2);
  }
}
